.header {
    width: 100%;
    background: rgba(201, 201, 201, 0.596);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
}